body {
margin: 0;
padding: 0;
font: 70%  verdana, helvetica, "Trebuchet MS", arial,sans-serif;
line-height: 1.8em;
color: #666;
}
			/*WRAP*/
.container {
width: 100%;
height: 32px;
padding: 0;
margin: 0 0 30px 0;
background: #82A9D0 url(images/shade_bottom.gif) bottom repeat-x;
}
			/*TOP BANNER*/
#header {
height: 200px;
margin-bottom: 0;
background: transparent url(images/banner.jpg) no-repeat;
}
			/*TOP NAVIGATION*/
#nav {
margin: 0;
padding: 0 0 0 0;
}
#nav li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}
#nav a:link, #nav a:visited {
float: left;
font-size: 1.2em;
letter-spacing: 3px;
padding: 5px 20px 5px 20px;
text-decoration: none;
color: #000;
}
#nav a:link.active, #nav a:visited.active, #nav a:hover {
color: #666;
background: url(images/pyramid2.gif) no-repeat top center;
}
			/*3 COLUMNS*/
#gutter {
float: left;
width: 3%;
height: 1px;
}
#col1 {
float: left;
width: 40%;
margin-bottom: 1em;
border-right: 1px solid #ddd;
padding-right: 3%;
}
#col2 {
float: left;
width: 19%;
margin-left: 3%;
margin-bottom: 1em;
border-right: 1px solid #ddd;
padding-right: 3%;
}
#col3 {
float: left;
width: 23%;
margin-left: 3%;
margin-bottom: 1em;
}
			/*RIGHT MENU*/
#navcontainer ul {
margin-top: 10px;
list-style-type: none;
background: #fff;
color: #666;
}
#navcontainer ul li a {
padding: 15px;
color: #666;
background: transparent url(images/list-off.gif) left center no-repeat;
text-align: left;
font: normal 1em verdana, helvetica, "Trebuchet MS", arial,sans-serif;
text-decoration: none;
}
#navcontainer ul li a:hover {
color: #006699;
background: transparent url(images/list-on.gif) left center no-repeat;
}
#navcontainer ul li a#current {
background: transparent url(images/list-active.gif) left center no-repeat;
color: #000;
}
			/*FOOTER*/
#footer {
clear: both;
padding: 5px;
font-size: 0.8em;
border-top: 1px solid #eee;
color: #333;
background: #82a9d0;
}
			/*TYPOGRAPHY*/
h1 {
margin:0;
padding: 15px 0 0 0;
text-align: left;
font-size: 100%;
letter-spacing: 2px;
color: #333;
background: transparent;
}
h2  { 
margin: 0;
padding-top: .5em;
padding-bottom: .5em;
letter-spacing: 3px;
text-transform: uppercase;
font: 130% verdana, helvetica, "Trebuchet MS", arial,sans-serif;;
color: #82A9D0;
background: inherit;
}
h3 {
margin-top: 0;
font-family: arial, georgia, helvetica, sans-serif;
font-size: 1em;
text-align: center;
color: #006699;
background: inherit;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
			/*LINKS*/
a {
text-decoration: none;
font-weight: bold;
color: #CE565F;
background: inherit;
}
a:hover {
text-decoration: none;
color: #000;
background:  inherit;
}
a img {
border: 0;
}
			/*SEARCH BOX*/
legend { 
font-weight : bold;
color : #82A9D0;
} 
input { 
background : #eee;
} 
			/*CLASSES*/
.imgleft {
float : left;
margin : 5px 15px;
padding : 5px;
}
.post {
padding : 3px;
margin : 20px 10px 10px 5px;
border : 1px dashed #8a795d;
font-size : 80%;
color: #aaa;
background : #fff;
} 
.post .date { 
background : url(images/clock.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
} 
.post .comments { 
background : url(images/comment.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
} 
.post .readmore { 
background : url(images/document.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
} 