/*  position to top/bottom of page, the hide/show class  */
div.rteFloattrue{ position:absolute; }
div.rteFloatfalse{ position:relative;}
div.MooRTE{ left:0; width:100%; }
div.MooRTE.rtePageBottom{ position:fixed; bottom:0}
div.MooRTE.rtePageTop{ position:fixed; top:0;  }
.rteHide{ display:none; }
.rteTextArea{ border:1px solid #666 }
.rteTopDown{top:0;}

/* the Word03 skin, for better or worse :)  */
div.MooRTE div.Word03 { left:0; bottom:0; width:100%; background-color:#B9D2F8; color:#222; font: 12px Arial; }
div.MooRTE div.Word03    span{ height:20px; margin:1px; display:inline-block; }
div.MooRTE div.Word03    input{ height:20px; width:100px; }
div.MooRTE div.Word03    div.rteToolbar{ position:relative; width:100%; background-image:url(images/bg.gif) }
div.MooRTE div.Word03    div.rteToolbar a{ height:20px; width:20px; margin:1px; display:inline-block; text-decoration:none; vertical-align:top; background-image:url(images/i3.gif)}
div.MooRTE div.Word03    div.rteToolbar a:hover{ border:1px solid black; margin:0; background-color:#FFB874 }
div.MooRTE div.Word03    .rteSelected{background-color:white}
div.MooRTE div.Word03    div.rteMenu a{margin:2px; display:inline-block; text-decoration:none; vertical-align:top; }
div.MooRTE div.Word03    div.rteMenu a.rteText{font: 12px black Arial; color:black; }
div.MooRTE div.Word03    span.rtestart{background-image:url(images/start.gif); height:25px; width:7px; margin:0}
div.MooRTE div.Word03    a.rteText{background-image:url(); min-width:38px; text-align:center; }
div.MooRTE div.Word03    a.rteText:hover{ margin:1px; border:1px solid black; background-color:#FFB874;}
div.MooRTE div.Word03    div.rteFlyout{position:absolute; border:0; top:20px; left:-1px; width:22px; background-color:#ddd}
div.MooRTE div.Word03    a.Flyout{ position:relative; overflow:hidden;}
div.MooRTE div.Word03    a.Flyout:hover{overflow:visible;}
div.MooRTE div.Word03   .displayHtml{position:absolute; border:1px solid grey; left:0; top:0 }

/* the rteGrey skin  */
div.MooRTE div.rteGrey { left:0; bottom:0; width:100%; background:#BCBECD url('images/background_silver.jpg') repeat-x; color:#222; font: 12px Arial; }
div.MooRTE div.rteGrey           span{ height:20px; margin:1px; display:inline-block; }
div.MooRTE div.rteGrey           input{ height:20px; width:100px; }
div.MooRTE div.rteGrey           div.rteTop{ border-bottom:1px #bbb solid; height:18px; overflow:hidden; vertical-align:bottom; text-align:left; }
div.MooRTE div.rteGrey           .saveBtn{ background-image:url('images/Save.png'); position:absolute; top:1px; right:15px; width:75px;}
div.MooRTE div.rteGrey           div.rteToolbar{ position:relative; width:100%; }
div.MooRTE div.rteGrey           div.rteToolbar a{ height:20px; width:20px; margin:2px; display:inline-block; text-decoration:none; vertical-align:bottom; background-image:url(images/i3.gif)}
div.MooRTE div.rteGrey           div.rteToolbar a:hover{ border:2px solid black; margin:0; }
div.MooRTE div.rteGrey           .rteSelected{ background-color:white }
div.MooRTE div.rteGrey           a.rteText{ height:16px; min-width:38px; margin:2px; display:inline-block; text-align:center; text-decoration:none; border:1px solid grey; -moz-corner-radius:2px }
div.MooRTE div.rteGrey           a.rteText:hover{ margin:2px; background-color:#eee}
div.MooRTE div.rteGrey           div.rteFlyout{ position:absolute; border:0; top:20px; left:-2px; width:24px; background-color:#ddd }
div.MooRTE div.rteGrey           a.Flyout{ position:relative; overflow:hidden;}
div.MooRTE div.rteGrey           a.Flyout:hover{ overflow:visible }
div.MooRTE div.rteGrey          .displayHtml{position:absolute; border:1px solid grey; left:0; top:0 }

/* Plugins */
.rtefuUpload, .rtefuClear { cursor:pointer }

#xrtePopup {position:fixed; background:#fff; z-index:1001; top:50%; left:50%  }
#rteModal { position:fixed; top:0; left:0; height:100%; width:100%; z-index:1000; background-color:#333; opacity: 0.7; filter: alpha(opacity = 70);}
#rtePopup{ position:fixed; top:50%; left:50%; background-color:#fff; z-index:1001; overflow:hidden; color:#3F3F3F; font:12px/18px Arial,Helvetica,sans-serif; 
	box-shadow: 3px 3px 3px #888; -moz-box-shadow: 3px 3px 3px #888; -webkit-box-shadow: 3px 3px 3px #888; filter:progid:DXImageTransform.Microsoft.DropShadow(sProperties); 
	-moz-border-radius:8px; -webkit-border-radius:8px; }
#rtePopup #popHead { height: 25px; background-color:#E5E5E5; -moz-border-radius:8px 8px 0 0; }
#rtePopup #popHead h3 { font:bold 12px/15px Arial; margin:5px 10px 4px 12px; color:#141414; float:left;}
#rtePopup #popHead div{ font:bold 8px Tahoma; cursor:pointer; -moz-border-radius:10px; background-color:#fff; text-align:center;  height:14px; width:14px; float:right; margin:6px 6px 0 0; padding:1px;}
#rtePopup #popMid { overflow:auto; font-size:12px; border:solid #DADADA; border-width:1px 0;}
#rtePopup #popMid #popCont{ padding:10px 40px; }
#rtePopup #popMid #popCont>span{ display:inline-block; width:90px; }
#rtePopup #popMid #popCont>input{ width:134px; margin:2px 0; }
#rtePopup #popMid #popCont div.radio input{ width:4px; }
#rtePopup #popMid #popCont div.radio { text-align:right; }
#rtePopup #popMid #popCont div.btns{ text-align:center; padding-top:12px; }
#rtePopup #popMid #popCont>#rem{ font:10px tahoma; text-align:right; }
#rtePopup #popMid #popCont>#rem>input{ vertical-align:middle; height:10px; }
#rtePopup #popFoot{ height: 25px; text-align:right; background-color:#E5E5E5; -moz-border-radius:0 0 8px 8px;}
#rtePopup #popFoot a{ text-decoration:none; font:7px Tahoma; color:#000; float:right; margin:5px 10px; }

/* Old */
xdiv.RTE div.rteR0{ border-bottom:1px #bbb solid; }
xa:hover{ border:2px solid red; margin:0; }
xa{ height:16px; width:16px; margin:2px; display:inline-block; text-decoration:none; vertical-align:bottom; background-image:url(images/i.gif)}
