div.miMooRTE{ left:0; width:100%; }
div.miFloattrue{ position:absolute; }
div.miFloatfalse{ position:relative;}
div.miMooRTE div.miRTE { left:0; bottom:0; width:100%; background-color:#B9D2F8; xbackground-color:#C2D8F9; color:#222; font: 12px Arial; }
div.miMooRTE div.miRTE span{ height:18px; margin:2px; display:inline-block; }
div.miMooRTE div.miRTE input{ height:18px; width:100px; }

div.miMooRTE div.miRTE div.miToolbar{ position:relative; width:100%; background-image:url(images/bg.gif) }
div.miMooRTE div.miRTE div.miToolbar a{ height:20px; width:20px; margin:1px; display:inline-block; text-decoration:none; vertical-align:top; background-image:url(images/i3.gif)}
div.miMooRTE div.miRTE div.miToolbar a:hover{ border:1px solid black; margin:0; background-color:#FFB874 }
div.miMooRTE div.miRTE div.miToolbar a.miSelected{background-color:white}

div.miMooRTE div.miRTE span.mistart{background-image:url(images/start.gif); height:25px; width:7px; margin:0}

div.miMooRTE div.miRTE div.miMenu a{margin:2px; display:inline-block; text-decoration:none; vertical-align:top; }
div.miMooRTE div.miRTE div.miMenu a.miText{font: 12px black Arial; color:black; }

div.miMooRTE.miPageBottom{ position:fixed; bottom:0}
div.miMooRTE.miPageTop{ position:fixed; top:0;  }
div.miRTE div.miR0{ border-bottom:1px #bbb solid; }
.miHide{ display:none; }
.miTextArea{ border:1px solid #666 }
div.miMooRTE div.miRTE a.miText{background-image:url(); min-width:38px; text-align:center; }
div.miMooRTE div.miRTE a.miText:hover{ margin:1px; border:1px solid black; background-color:#FFB874;}

div.miMooRTE div.miRTE div.miFlyout{position:absolute; border:0; top:20px; left:-1px; width:22px; background-color:#ddd}
a.Flyout{ position:relative; overflow:hidden;}
a.Flyout:hover{overflow:visible;}
.miTopDown{top:0;}
div.miMooRTE div.miRTE .displayHtml{position:absolute; border:1px solid grey; left:0; top:0 }
.mifuUpload, .mifuClear {cursor:pointer}

xdiv.miMooRTE div.miRTE div.miTop{ border-bottom:1px #bbb solid; height:18px; overflow:hidden; vertical-align:bottom; text-align:left; }
xdiv.miMooRTE div.miRTE .saveBtn{ background-image:url('images/Save.png'); position:absolute; top:1px; right:15px; width:75px;}
xdiv.miMooRTE div.miRTE a{ height:16px; width:16px; margin:2px; display:inline-block; text-decoration:none; vertical-align:bottom; background-image:url(images/i.gif)}
xdiv.miMooRTE div.miRTE a:hover{ border:2px solid red; margin:0; }
xdiv.miMooRTE div.miRTE div.miFlyout{position:absolute; border:0; top:16px; left:-2px; width:20px; background-color:#ddd}
xdiv.miMooRTE div.miRTE { left:0; bottom:0; width:100%; background:#BCBECD url('images/background_silver.jpg') repeat-x; color:#222; font: 12px Arial; }
xdiv.miMooRTE div.miRTE a.miText{background-image:url(); min-width:38px; text-align:center; border:1px solid grey; -moz-corner-radius:2px }

