div.miMooRTE{ left:0; width:100%; }
div.miFloattrue{ position:absolute; }
div.miFloatfalse{ position:relative;}
div.miMooRTE div.miRTE { left:0; bottom:0; width:100%; background:#BCBECD url('images/background_silver.jpg') repeat-x; color:#222; font: 12px Arial; }
div.miMooRTE div.miRTE div{ position:relative; width:100%; }
div.miMooRTE div.miRTE span{ height:18px; margin:2px; display:inline-block; }
div.miMooRTE div.miRTE input{ height:18px; width:100px }
div.miMooRTE div.miRTE a{ height:16px; width:16px; margin:2px; display:inline-block; text-decoration:none; vertical-align:bottom; background-image:url(images/i.gif)}
div.miMooRTE div.miRTE a:hover{ border:2px solid red; margin:0; }
div.miMooRTE div.miRTE a.miSelected{background-color:white}
div.miMooRTE.miPageBottom{ position:fixed; bottom:0}
div.miMooRTE.miPageTop{ position:fixed; top:0;  }
div.miRTE div.miR0{ border-bottom:1px #bbb solid; }
.miHide{ display:none; }
.miTextArea{ border:1px solid #666 }
.miTopDown{top:0;}

div.miMooRTE div.miRTE .displayHtml{position:absolute; border:1px solid grey; left:0; top:0 }
xdiv.miMooRTE div.miRTE div.miTop{ border-bottom:1px #bbb solid; height:18px; overflow:hidden; vertical-align:bottom; text-align:left; }
xdiv.miMooRTE div.miRTE .saveBtn{ background-image:url('images/Save.png'); position:absolute; top:1px; right:15px; width:75px;}
