div.miMooInline{ position:absolute; left:0; width:100%; }
div.miMooInline div.miRTE { position:absolute; left:0; bottom:0; width:100%; background:#BCBECD url('images/background_silver.jpg') repeat-x; color:#222; font: 12px Arial; }
div.miMooInline div.miRTE div{ position:relative; width:100%; }
div.miMooInline div.miRTE span{ height:18px; margin:2px; display:inline-block; }
div.miMooInline div.miRTE input{ height:18px; width:100px }
div.miMooInline div.miRTE a{ height:16px; width:16px; margin:2px; display:inline-block; text-decoration:none; vertical-align:bottom}
div.miMooInline div.miRTE a:hover{ border:2px solid red; margin:0; }
div.miMooInline div.miRTE a.miSelected{background-color:white}
div.miMooInline.miPageb{ position:fixed; bottom:0}
div.miMooInline.miPaget{ position:fixed; top:0;  }
div.miRTE div.miR0{ border-bottom:1px #bbb solid; }
.miHide{ display:none; }
.miTextArea{ border:1px solid #666 }

xdiv.miMooInline div.miRTE div.miTop{ border-bottom:1px #bbb solid; height:18px; overflow:hidden; vertical-align:bottom; text-align:left; }
xdiv.miMooInline div.miRTE .saveBtn{ background-image:url('images/Save.png'); position:absolute; top:1px; right:15px; width:75px;}
