/* $Id :$ */

@media screen {

    .tocClass {
        border:1px solid #DCEBFC;
        page-break-after:always;
        background-color:#F5F9FE;
        padding:15px;
    }

    .tocBgrdColor { 
        background-color:#F5F9FE; 
    }

    p.tocBgrdImg {
        background-image:url('/images/dot.png');
        background-position:bottom;
        background-repeat:repeat-x;
    }

    span.tocBgrdImg {
        background-image:url('/images/dot.png');
        background-position:bottom;
        background-repeat:repeat-x;
        right:-24%;
        *right:13%;
    }

    .tocRegenerate {
        background-image:url('/images/toc_icons.gif');
        background-position: -17px -1px;
        background-repeat: no-repeat;
        cursor:pointer;
        height:14px;
        width:14px;
        margin:3px;
        margin-right:0px;
        float:right;
    }

    .tocClose{
        background-image:url('/images/toc_icons.gif');
        background-position: -1px -1px;
        background-repeat: no-repeat;
        cursor:pointer;
        height:14px;
        width:14px;
        margin:3px;
        float:right;
    }

    .hdrFtrHlpTxt{
        color:#B2B2B2;
        font-family:Verdana,sans-serif;
        font-size:11px;
    }

    .autoauthor, .autopno, .autopcnt, .autodate {
        background-color:#F1F1F1;
        border:1px dotted #868686;
    }

    .headerDiv, .footerDiv {
        border:1px dashed #B0C5E8;
        height:auto !important;
        margin:0 auto;
        min-height:32px;
    }

}

@media print {

    .tocClass {
        border:0px none;
        page-break-after:always;
        background-color:none;
        padding-left:10px;
        padding-bottom:10px;
    }

    .tocBgrdColor{ 
        background-color:white; 
    }

    p.tocBgrdImg{
        background-image:url('/images/dotWithWhite.png');
        background-position:bottom;
        background-repeat:repeat-x;
    }

    span.tocBgrdImg {
        background-image:url('/images/dotWithWhite.png');
        background-position:bottom;
        background-repeat:repeat-x;
        right:-24%;
        *right:13%;
    }

    .tocRegenerate, .tocClose, .tocLink { display:none; }

}

.tocClassForPreview {
    border:0px none;
    page-break-after:always;
    background-color:none;
    padding-left:10px;
    padding-bottom:10px;
}

.tocBgrdColorForPreview{ 
    background-color:white; 
}

p.tocBgrdImgForPreview{
    background-image:url('/images/dotWithWhite.png');
    background-position:bottom;
    background-repeat:repeat-x;
}

span.tocBgrdImgForPreview {
    background-image:url('/images/dotWithWhite.png');
    background-position:bottom;
    background-repeat:repeat-x;
    right:-24%;
    *right:13%;
}

.ItemAnchor {

	width: 12px;
	line-height: 6px;
	overflow: hidden;
	padding-left: 12px;
	background-image: url('/images/anchor_symbol.gif');
	background-position: bottom;
	background-repeat: no-repeat;
    _display:inline-block;
}

.noteClass {

	overflow: hidden;
	padding-left: 16px;
	height: 16px;
	width: 16px;
	_width: 16px;
	background-image: url('/images/ccomments.gif');
	background-position: left top;
	background-repeat: no-repeat;
	cursor:hand;cursor:poiner;
    display:inline-block;
}
.ccomment {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF3C9A;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #01D5FA;
}

ins.diff
{
background: #9CFF9C;
}
ins.modified
{
/*background: #CDCEFF;*/
background: #FFFFA0;
}


del.diff
{
background: #ff999C;
}

.htmlbg
{
background-color: #f1f1f1;
}
