/*$Id :$ */

.mainBg
{
padding:0px;
}

img
{
    max-width:100%;
}

.innerTable
{
  border:0px;
  width :100%;	
  /*table-layout:fixed;*/
  cellpadding:0;
  cellspacing:0;
}

.mainTblA4L
{
    width:297mm;
    margin-bottom:0px;
}

.mainTblA4
{
    width:210mm;
    margin-bottom:0px;
}

.mainTblLetterL
{
    width:279mm;
    margin-bottom:0px;
}

.mainTblLetter
{
    width:216mm;
    margin-bottom:0px;
}

.mainTblLegalL
{
    width:356mm;
    margin-bottom:0px;
}

.mainTblLegal
{
    width:216mm;
    margin-bottom:0px;
}
.mainTblExecutiveL
{
    width:254mm;
    margin-bottom:0px;
}

.mainTblExecutive
{
    width:185mm;
    margin-bottom:0px;
}
.pageBoxA4L
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxA4
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxLetterL
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxLetter
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxLegalL
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxLegal
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxExecutiveL
{
  background-color:#FFF;
  vertical-align:top;
}
.pageBoxExecutive
{
  background-color:#FFF;
  vertical-align:top;
}

.bottomShadowA4L
{
    display:none;
    background-color:transparent;
    width:292mm;
}

.bottomShadowA4
{
    display:none;
    background-color:transparent;
    width:205mm;
}
.bottomShadowLetterL
{
    display:none;
    background-color:transparent;
    width:279mm;
}

.bottomShadowLetter
{
    display:none;
    background-color:transparent;
    width:210mm;
}
.bottomShadowLegalL
{
    display:none;
    background-color:transparent;
    width:356mm;
}

.bottomShadowLegal
{
    display:none;
    background-color:transparent;
    width:210mm;
}
.bottomShadowExecutiveL
{
    display:none;
    background-color:transparent;
    width:254mm;
}

.bottomShadowExecutive
{
    display:none;
    background-color:transparent;
    width:190mm;
}
.rightShadow
{
    display:none;
    background-color:transparent;
}
.rightCornerShadow
{
    display:none;
    background-color:transparent;
}
.noprint
{
  display:none;
}
.pageno
{
  display:none;
}
#div1 
{
  display:none;	
}

thead#mainthead
{
display: table-header-group;
}
tbody#maintbody
{
 /*height 8in just to keep the tfoot to stay at the bottom*/
  display: table-row-group;
}
.pagebreakbr
{
   line-height:0pt;
}

#header
{
   display:none;	
}


.fncontainer
{
    vertical-align:top;
    line-height:1.2em;
    width :100%;
    position:fixed;
    color:grey;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    font-style: normal;
}

.encontainer
{
    vertical-align:top;
    line-height:1.2em;
    width :100%;
    position:relative;
    bottom:0;
    color:grey;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    font-style: normal;
}


/* class for endnote/footnote in the bottom*/
.efnote
{
   text-decoration:none;
   color:grey;
}

.footnote
{
   text-decoration:none;
   color:inherit;
}
.endnote
{
   text-decoration:none;
   color:inherit;
}

