/*  position to top/bottom of page, the hide/show class  */
/* Begin General */
div.MooRTE{ left:0; width:100%; position:absolute; top:0; }
div.MooRTE.rteFloat{ position:absolute; }
div.MooRTE.rtePageBottom{ position:fixed; bottom:0}
div.MooRTE.rtePageTop{ position:fixed; top:0;  }
.rteHide{ display:none; }
.rteShow{ border:2px groove #000; vertical-align:top; position:relative;}
.rteTextArea{ border:1px solid #666; display:inline-block; word-wrap: break-word; overflow-y:hidden; overflow-x:auto;}
div.rteTextArea{ *display:inline; }
.rteTopDown{top:0;}
.bbox{ -moz-box-sizing:  border-box; -ms-box-sizing:  border-box; box-sizing:  border-box; -webkit-box-sizing:  border-box  }
.rteShow, .cbox{ -moz-box-sizing: content-box; -ms-box-sizing: content-box; box-sizing: content-box; -webkit-box-sizing: content-box }
.spinWait {position:absolute; border:0}
/* End General*/

/* Not really Word07 - option to replace transparent grad with blue to white grad in 2010 */
div.RTE.Word07	{ background-color:#B9D2F8;
					background-image:linear-gradient(top, #c4e2fa 0, #fcfdfe 45px);
					background-image:-ms-linear-gradient(top, #c4e2fa 0, #fcfdfe 45px);
					background-image:-moz-linear-gradient(top, #c4e2fa 0, #fcfdfe 45px); 
					background-image:-webkit-linear-gradient(top, #c4e2fa 0, #fcfdfe 45px); }
div.RTE.Word07	.rteTopBar{ background-color:#fefefe; }

div.RTE.Word10	{ font:12px/18px Arial,Helvetica,'MS Sans Serif',Geneva,sans-serif}
div.RTE.Word10	a,
div.RTE.Word10	span{ display:inline-block; }
div.RTE.Word10	a{ text-decoration:none; color:black; vertical-align:top; 
						font:12px/18px Arial,Helvetica,'MS Sans Serif',Geneva,sans-serif;
						}

/* RteTopBar: Top Row */
div.RTE.Word10	.rteTopBar{ background-color:rgba(254,254,254,0.8); }
div.RTE.Word10	div a.rteSelected{ border:1px solid #c3964f; background-color:#FFB874;
					background-image:url('images/Word10.png'), linear-gradient(top, #ffe387 0, #ffd77e 33%, #fff292);
					background-image:url('images/Word10.png'), -ms-linear-gradient(top, #ffe387 0, #ffd77e 33%, #fff292);
					background-image:url('images/Word10.png'), -moz-linear-gradient(top, #ffe387, #ffd77e 33%, #fff292);
					background-image:url('images/Word10.png'), -webkit-linear-gradient(top, #ffe387 0, #ffd77e 33%, #fff292);
 					}

div.RTE.Word10	.rteTopBar a,
div.RTE.Word10	.rteRibbons .smallIcons > a,
div.RTE.Word10	.rteRibbons a{ margin:3px 0; border:1px transparent solid; border-radius:3px;  
					background-image:url('images/Word10.png'); background-repeat:no-repeat, repeat;  }
div.RTE.Word10	.rteTopBar a:hover,
div.RTE.Word10	.rteRibbons .smallIcons > a:hover,
div.RTE.Word10	.rteHomeRibbon a:hover{ border-color:#f1cb57; background-color:#FFB874;
					background-image:url('images/Word10.png'), linear-gradient(top,#ffe387,#fff292);
					background-image:url('images/Word10.png'), -ms-linear-gradient(top,#ffe387,#fff292);
					background-image:url('images/Word10.png'), -moz-linear-gradient(top,#ffe387,#fff292);
					background-image:url('images/Word10.png'), -webkit-linear-gradient(top,#ffe387,#fff292)}

div.RTE.Word10	.rteRibbons a.bigIcon,
div.RTE.Word10	.rteRibbons .rtearrow,
div.RTE.Word10	.bigIcons a{ background-image:url('images/Word10_32.png'); background-repeat:no-repeat, repeat;  }
div.RTE.Word10	.rteRibbons a.bigIcon:hover,
div.RTE.Word10	.bigIcons a:hover{ border-color:#f1cb57; background-color:#FFB874;
					background-image:url('images/Word10_32.png'), linear-gradient(top,#ffe387,#fff292);
					background-image:url('images/Word10_32.png'), -ms-linear-gradient(top,#ffe387,#fff292);
					background-image:url('images/Word10_32.png'), -moz-linear-gradient(top,#ffe387,#fff292);
					background-image:url('images/Word10_32.png'), -webkit-linear-gradient(top,#ffe387,#fff292)}

/* RteTabs: Second Row, the tabs */
div.RTE.Word10	.rteTabs { overflow:hidden; position:relative; 
					background-image:linear-gradient(top, rgba(255,255,255,0.8), #FFF);
					background-image:-ms-linear-gradient(top, rgba(255,255,255,0.8), #FFF); 
					background-image:-moz-linear-gradient(top, rgba(255,255,255,0.8), #FFF);
					background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.8), #FFF);}
div.RTE.Word10	.rteTabs:before { position:absolute; content:' '; width:100%; bottom:0; left:0; 
					border-bottom:1px solid #AAA; z-index:1; }
div.RTE.Word10	.rteTabs>a{padding:0 12px; margin:0 2px; vertical-align:top; color:black;
					font: 12px/24px 'MS Sans Serif', Geneva, sans-serif; }
div.RTE.Word10	.rteTabs>a:hover,
div.RTE.Word10	.rteTabs>a.rteSelected,
div.RTE.Word10	.rteTabs>a.rteFileTab{ border:1px solid #aaa; border-bottom:0; padding:0 11px;
					border-radius:3px 3px 0 0; }
div.RTE.Word10	.rteTabs>a.rteFileTab{ box-shadow:none; color:white; 
					background-image:linear-gradient(top,#418add,#2862ad 40%,#3e87d8); 
					background-image:-ms-linear-gradient(top,#418add,#2862ad 40%,#3e87d8); 
					background-image:-moz-linear-gradient(top,#418add,#2862ad 40%,#3e87d8);
					background-image:-webkit-linear-gradient(top,#418add,#2862ad 40%,#3e87d8); }
div.RTE.Word10	.rteTabs>a.rteSelected:not(.rteFileTab){ position:relative; background:#FFF;
					z-index:2; box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF; }
div.RTE.Word10	.rteTabs>a.rteSelected:not(.rteFileTab):before, 
div.RTE.Word10	.rteTabs>a.rteSelected:not(.rteFileTab):after { border:1px solid #AAA; 
					position:absolute; bottom:-1px; width:5px; height:5px; content:' '; }
div.RTE.Word10	.rteTabs>a.rteSelected:not(.rteFileTab):before{ border-bottom-right-radius:6px; 
					left:-6px; border-width:0 1px 1px 0; box-shadow:2px 2px 0 #FFF; }
div.RTE.Word10	.rteTabs>a.rteSelected:not(.rteFileTab):after { border-bottom-left-radius:6px; 
					right:-6px; border-width:0 0 1px 1px; box-shadow:-2px 2px 0 #FFF; }
div.RTE.Word10	.rteTabs>a,
div.RTE.Word10	a.rteText{background-image:url(); min-width:38px; text-align:center; 
					text-decoration:none; color:#000; }

/* RteRibbons: Third Row, the content. */
div.RTE.Word10	.rteRibbons{ border:1px solid #8B9096; border-top:0; background-color:white; text-align:center;
					background-image:linear-gradient(bottom,#E5E9ED 0,#FFF 50px);
					background-image:-ms-linear-gradient(bottom,#E5E9ED 0,#FFF 50px);
					background-image:-moz-linear-gradient(bottom,#E5E9ED 0,#FFF 50px);
					background-image:-webkit-linear-gradient(bottom,#E5E9ED 0,#FFF 50px); }
div.RTE.Word10	.rteRibbons>div>div{ padding:1px; display:table-cell; vertical-align:top;
					border-right:3px solid #d1d1d1; -moz-border-right-colors: #fff #1d1d1 #fff; }
div.RTE.Word10	.rteRibbons>div>div:after{ height:12px; display:block; text-align:center; color:rgb(155,155,155); line-height:10px;}
div.RTE.Word10	.rteRibbons>div>div>div{ xheight:65px; overflow:hidden;}

/* RteRibbons: Group Widths */
div.RTE.Word10	.rteClipGroup > div{ width:160px }
div.RTE.Word10	.rteFontGroup > div{ width:250px }
div.RTE.Word10	.rteParaGroup > div{ width:200px }
div.RTE.Word10	.rteEditGroup > div{ width:75px  }
div.RTE.Word10	.rtePageGroup > div{ width:132px }
div.RTE.Word10	.rteTablGroup > div{ width:46px  }
div.RTE.Word10	.rteIlluGroup > div{ width:295px }
div.RTE.Word10	.rteLinkGroup > div{ width:208px }
div.RTE.Word10	.rteHeadGroup > div{ width:145px }
div.RTE.Word10	.rteTextGroup > div{ width:295px }
div.RTE.Word10	.rteSymbGroup > div{ width:100px }

/* RteFlyouts: Fourth row, flyouts */
div.RTE.Word10	.rteFlyouts > div{ cursor:pointer; position:absolute; background-color: #fff; 
					border:#a7abaf solid 1px; border-radius:3x;overflow-y:scroll; padding-left:2px }
div.RTE.Word10	.rteFlyouts > div > p{ color:#3b3b3b; height:24px; padding-right:10px; border-radius:3px; width:150px; margin:0; border:1px solid transparent;
							-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box }
div.RTE.Word10	.rteFlyouts > div > p:hover{ border-color:#999;  }
div.RTE.Word10	.rteFlyouts > div > p:before{content:' '; margin-right:5px; display:inline-block; 
					border-right:#e2e4e7 solid 1px; height:100%; width:25px; vertical-align:middle;}
div.RTE.Word10	.rteFlyouts > div.rteSelected{display:block; position:absolute; }

/* RteRibbons[>div.rteHomeRibbon div].flyout: Triggers for flyout menus */
div.RTE.Word10	.flyout{vertical-align:top; margin:3px 0; border:1px solid transparent; height:19px;}
div.RTE.Word10	.flyout:hover{ border-color:#F5D368; }
div.RTE.Word10	.flyout>span{ padding:7px 0 8px; cursor:pointer; border-radius:0 3px 3px 0; width:10px }

div.RTE.Word10	.menus>span:hover,
div.RTE.Word10	.arrowCase a.rtearrow:hover,
div.RTE.Word10	.flyout>span:hover{ background-color:#FFB874; background-repeat: repeat;
					background-image:linear-gradient(top,#ffe387,#fff292);
					background-image:-ms-linear-gradient(top,#ffe387,#fff292);
					background-image:-moz-linear-gradient(top,#ffe387,#fff292); 
					background-image:-webkit-linear-gradient(top,#ffe387,#fff292); }
div.RTE.Word10	.flyout>a{margin: 0 !important; border-width:0 1px 0 0 !important; border-radius:0 !important;}
div.RTE.Word10	.flyout>span:after {width:0; height:0; line-height:0; border:solid transparent 3px; margin:auto;
					border-top:3px solid #000; border-width:3px 3px 0; content:''; display:block; }

/* [RteRibbons>div.rteHomeRibbon>div].rteClipGroup: */
div.RTE.Word10	.rteHomeRibbon>div.rteClipGroup{padding-top:2px;}
div.RTE.Word10	.rteHomeRibbon>div.rteClipGroup>div>span:last-child{padding-top:2px;}

/* [RteRibbons>div.rteHomeRibbon>div].rteStylGroup: */
div.RTE.Word10	.rteStylGroup>div{position:relative;}
div.RTE.Word10	.rteStylGroup .arrowCase{position:absolute;right:2px;top:0;}
div.RTE.Word10	.stylesCollection{ border:1px solid #c6cacd; overflow-x:hidden; min-width:100px; max-width:575px;
					overflow-y:auto; scrollbar-arrow-color: green; overflow: -moz-scrollbars-vertical; 
					cursor:pointer; height:52px; margin-right:50px; }
div.RTE.Word10	.stylesCollection>div{ border:1px solid #fff; float:left; margin:1px; }
div.RTE.Word10	.stylesCollection>div.rteSelected,
div.RTE.Word10	.stylesCollection>div:hover{ border-color: #c2a35c; border-radius:3px; linear-gradient("top", #fff 7px, #ffce65 75%, #fff)  }
div.RTE.Word10	.stylesCollection>div>div{ margin:3px; background-color:#fff; padding:3px; width:58px; overflow:hidden; }
div.RTE.Word10	.stylesCollection>div>div:before{ line-height:24px; content:'Aa Bb Cc Dd Ee Ff Gg'; white-space:nowrap;}
div.RTE.Word10	.stylesCollection>div>div:after{ text-align:center; display:block; color:#555; font:12px/12px Tahoma;}

/* [RteRibbons>div.rteHomeRibbon>div].rteStylGroup>div: Font Combinations */
div.RTE.Word10	.f_h1 				{ color:#365f91; font:bold 14pt Cambria; }
div.RTE.Word10	.f_h2 				{ color:#4f81bd; font:bold 13pt Cambria; } 
div.RTE.Word10	.f_h3 				{ color:#4f81bd; font:bold 11pt Cambria; }
div.RTE.Word10	.f_h4 				{ color:#4f81bd; font:bold italic 11pt Cambria; }
div.RTE.Word10	.f_h5 				{ color:#243f60; font:11pt Cambria; }
div.RTE.Word10	.f_h6 				{ color:#243f60; font:italic 11pt Cambria; }
div.RTE.Word10	.f_h7 				{ color:#404040; font:italic 11pt Cambria; }
div.RTE.Word10	.f_h8 				{ color:#404040; font:10pt Cambria; }
div.RTE.Word10	.f_h9 				{ color:#404040; font:italic 10pt Cambria; }
div.RTE.Word10	.f_normal			{ font:11pt Calibri }
div.RTE.Word10	.f_noSpacing		{ letter-spacing: 0; word-spacing:-3pt;}
div.RTE.Word10	.f_refSubtle		{ color:#c0504d; font:underline small-caps 11pt Calibri;  }
div.RTE.Word10	.f_refIntense		{ color:#c0504d; font:bold italic small-caps 11pt Calibri; }
div.RTE.Word10	.f_subtitle  		{ color:#4f81bd; font:italic 11pt Cambria; } 
div.RTE.Word10	.f_emphasis  		{ font:italic 11pt Calibri; }
div.RTE.Word10	.f_emphasisSubtle 	{ color:#808080; font:italic 11pt Calibri; }
div.RTE.Word10	.f_emphasisIntense	{ color:#4f81bd; font:bold italic 11pt Calibri; }
div.RTE.Word10	.f_strong 			{ font:bold 11pt Calibri; }
div.RTE.Word10	.f_quote  			{ font:italic 11pt Calibri; }
div.RTE.Word10	.f_quoteIntense 	{ color:#4f81bd; font:bold italic 11pt Calibri; border-bottom:solid #4f81bd 1px; }  
div.RTE.Word10	.f_bookTitle 		{ font:bold small-caps 11pt Calibri; }
div.RTE.Word10	.f_listParagraph 	{ font: 11pt Calibri; indent-left:1.27 cm; /*Don't add space between paragraphs of the same style*/}
div.RTE.Word10	.f_indent			{ /* Left:  1.65 cm Right:  1.65 cm, Space  Before:  10 pt */}
div.RTE.Word10	.f_title 			{ color:rgb(23,54,93); font:26pt Cambria border-bottom:solid rgb(23,54,93) 1px;/*seems to be underlined but underline and bottom border are both not selected*/ }

/* [RteRibbons>div.rteHomeRibbon>div.rteFontGroup>div].rtefontDropdown>div: Font Combinations */
div.RTE.Word10	.rtefontSize,
div.RTE.Word10	.rtefontDropdown{ width:96px; height:19px; margin:3px 0 0 1px; overflow:hidden; 
					border:1px solid #d4d6d9; font-size:12px; line-height:20px; display:inline-block; text-align:left;}
div.RTE.Word10	.rtefontSize {width:41px; margin-left:0;}

div.RTE.Word10	.f_calibri:after { content:'Calibri (Body)'; font-family:Calibri; }
div.RTE.Word10	.f_tahoma:after { content:'Tahoma (Body)';  font-family:Tahoma; }
div.RTE.Word10	.f_comic:after { content:'Comic (Body)';   font-family:Comic Sans; }

/* [All buttons with a background */
div.RTE.Word10 .rtesignatureLine{background-position:0px 0px;}
div.RTE.Word10 .rteselection{background-position:0px -19px;}
div.RTE.Word10 .rtereplace{background-position:0px -38px;}
div.RTE.Word10 .rteobject{background-position:0px -57px;}
div.RTE.Word10 .rteformatPainter{background-position:0px -76px;}
div.RTE.Word10 .rtefind{background-position:0px -95px;}
div.RTE.Word10 .rtedateTime{background-position:-118px 0px;}
div.RTE.Word10 .rtecut{background-position:-118px -19px;}
div.RTE.Word10 .rtecopy{background-position:-118px -38px;}
div.RTE.Word10 .rtetextBox{background-position:-160px -114px;}
div.RTE.Word10 .rtetable{background-position:-236px 0px;}
div.RTE.Word10 .rtesymbol{background-position:-236px -65px;}
div.RTE.Word10 .rtesmartArt{background-position:0px -179px;}
div.RTE.Word10 .rteshapes{background-position:-40px -179px;}
div.RTE.Word10 .rtesend{background-position:-80px -179px;}
div.RTE.Word10 .rtescreenshot{background-position:-120px -179px;}
div.RTE.Word10 .rtenewDocument{background-position:-318px -65px;}
div.RTE.Word10 .rtehyperlink{background-position:-318px -130px;}
div.RTE.Word10 .rteheader{background-position:-318px -195px;}
div.RTE.Word10 .rtefooter{background-position:-358px 0px;}
div.RTE.Word10 .rtefind32{background-position:-358px -65px;}
div.RTE.Word10 .rteequation{background-position:-358px -130px;}
div.RTE.Word10 .rtedropCap{background-position:-358px -195px;}
div.RTE.Word10 .rtechangeStyles{background-position:-200px -309px;}
div.RTE.Word10 .rtebookmark{background-position:-240px -309px;}
div.RTE.Word10 .rteblankPage{background-position:-280px -309px;}
div.RTE.Word10 .rteaddOns{background-position:-320px -309px;}
div.RTE.Word10 .rtetextEffect{background-position:-358px -260px;}
div.RTE.Word10 .rteparagraphSpacing{background-position:-358px -279px;}
div.RTE.Word10 .rtemultiLevelList{background-position:-318px -260px;}
div.RTE.Word10 .rtechangeCase{background-position:-318px -279px;}
div.RTE.Word10 .rtedivider{background-position:-278px -195px;}
div.RTE.Word10 .rteundo{background-position:-283px -195px;}
div.RTE.Word10 .rteunderline{background-position:-278px -219px;}
div.RTE.Word10 .rtethemefont{background-position:-298px -219px;}
div.RTE.Word10 .rtesuperscript{background-position:-236px -130px;}
div.RTE.Word10 .rtesubscript{background-position:-256px -130px;}
div.RTE.Word10 .rtestyleset{background-position:-236px -149px;}
div.RTE.Word10 .rtestyle{background-position:-256px -149px;}
div.RTE.Word10 .rtestrikethrough{background-position:-118px -57px;}
div.RTE.Word10 .rtesort{background-position:-138px -57px;}
div.RTE.Word10 .rtesave{background-position:-158px -57px;}
div.RTE.Word10 .rteremoveFormat{background-position:-178px -57px;}
div.RTE.Word10 .rteprintQuick{background-position:-198px -57px;}
div.RTE.Word10 .rtepasteSpecial{background-position:-118px -76px;}
div.RTE.Word10 .rtepasteLink{background-position:-138px -76px;}
div.RTE.Word10 .rtepaste{background-position:-158px -76px;}
div.RTE.Word10 .rtepageBlank{background-position:-178px -76px;}
div.RTE.Word10 .rteoutdent{background-position:-198px -76px;}
div.RTE.Word10 .rteoptions{background-position:-118px -95px;}
div.RTE.Word10 .rteopen{background-position:-138px -95px;}
div.RTE.Word10 .rtejustifyRight{background-position:-158px -95px;}
div.RTE.Word10 .rtejustifyLeft{background-position:-178px -95px;}
div.RTE.Word10 .rtejustifyFull{background-position:-198px -95px;}
div.RTE.Word10 .rtejustifyCenter{background-position:-200px -114px;}
div.RTE.Word10 .rteitalic{background-position:-200px -133px;}
div.RTE.Word10 .rteinvisibleChars{background-position:-200px -152px;}
div.RTE.Word10 .rteinsertUnorderedList{background-position:-240px -179px;}
div.RTE.Word10 .rteinsertOrderedList{background-position:-240px -198px;}
div.RTE.Word10 .rteindent{background-position:-240px -217px;}
div.RTE.Word10 .rteincreaseFontSize{background-position:-280px -244px;}
div.RTE.Word10 .rtehilight{background-position:-280px -263px;}
div.RTE.Word10 .rtegoto{background-position:-280px -282px;}
div.RTE.Word10 .rtefontColor{background-position:-360px -309px;}
div.RTE.Word10 .rtefill{background-position:-360px -328px;}
div.RTE.Word10 .rteexit16{background-position:-360px -347px;}
div.RTE.Word10 .rtedecreaseFontSize{background-position:0px -374px;}
div.RTE.Word10 .rteborderBottom{background-position:-20px -374px;}
div.RTE.Word10 .rtebold{background-position:-40px -374px;}

div.RTE.Word10 .rtewordTemplate{background-position:center center;}
div.RTE.Word10 .rtewordDocument{background-position:center -65px;}
div.RTE.Word10 .rtewordArt{background-position:center -130px;}
div.RTE.Word10 .rteword2003Doc{background-position:center -195px;}
div.RTE.Word10 .rtetextBox{background-position:center -260px;}
div.RTE.Word10 .rtetable{background-position:center -325px;}
div.RTE.Word10 .rtesymbol{background-position:center -390px;}
div.RTE.Word10 .rtesmartArt{background-position:center -455px;}
div.RTE.Word10 .rteshapes{background-position:center -520px;}
div.RTE.Word10 .rtesend{background-position:center -585px;}
div.RTE.Word10 .rtescreenshot{background-position:center -650px;}
div.RTE.Word10 .rtesaveAs{background-position:center -715px;}
div.RTE.Word10 .rtesave32{background-position:center -780px;}
div.RTE.Word10 .rtequickParts{background-position:center -845px;}
div.RTE.Word10 .rtepublish{background-position:center -910px;}
div.RTE.Word10 .rteprintQuick32{background-position:center -975px;}
div.RTE.Word10 .rteprintPreview{background-position:center -1040px;}
div.RTE.Word10 .rteprint{background-position:center -1105px;}
div.RTE.Word10 .rteprepare{background-position:center -1170px;}
div.RTE.Word10 .rtepicture{background-position:center -1235px;}
div.RTE.Word10 .rtepaste32{background-position:center -1300px;}
div.RTE.Word10 .rtepageNumber{background-position:center -1365px;}
div.RTE.Word10 .rtepageBreak{background-position:center -1430px;}
div.RTE.Word10 .rteopen32{background-position:center -1495px;}
div.RTE.Word10 .rtenewDocument{background-position:center -1560px;}
div.RTE.Word10 .rtehyperlink{background-position:center -1625px;}
div.RTE.Word10 .rteheader{background-position:center -1690px;}
div.RTE.Word10 .rtefooter{background-position:center -1755px;}
div.RTE.Word10 .rtefind32{background-position:center -1820px;}
div.RTE.Word10 .rteequation{background-position:center -1885px;}
div.RTE.Word10 .rtedropCap{background-position:center -1950px;}
div.RTE.Word10 .rtecross-reference{background-position:center -2015px;}
div.RTE.Word10 .rtecoverPage{background-position:center -2080px;}
div.RTE.Word10 .rteclose32{background-position:center -2145px;}
div.RTE.Word10 .rteclipArt{background-position:center -2210px;}
div.RTE.Word10 .rtechart{background-position:center -2275px;}
div.RTE.Word10 .rtechangeStyles{background-position:center -2340px;}
div.RTE.Word10 .rtebookmark{background-position:center -2405px;}
div.RTE.Word10 .rteblankPage{background-position:center -2470px;}
div.RTE.Word10 .rteaddOns{background-position:center -2535px;}

/* Added on bottom till can be reorganized ;*/
div.RTE.Word10 div.rteHomeRibbon>div{ padding-top:4px;}
div.RTE.Word10 div.rteHomeRibbon>div>div{height:68px}
div.RTE.Word10 div.bigIcons>div>div{height:71px;}
div.RTE.Word10	.rtefontFamily {width:85px;}
div.RTE.Word10	.rtefontSize { width:30px;}
div.RTE.Word10	span.rtedivider{width:5px;height:24px;background-image:url(images/Word10.png) }

div.RTE.Word10	.rteRibbons .stacked>a{float:left; width:auto; margin:0; clear:left; height:19px; padding:0;}
div.RTE.Word10	.stacked>a:before{ margin:0 5px 0 25px; }

div.RTE.Word10	.arrowCase { border:1px solid transparent; border-radius:3px; vertical-align:top;
								cursor:pointer; overflow:hidden;}
div.RTE.Word10	.arrowCase:hover{ border-color:#F5D368; }
div.RTE.Word10	.arrowCase a.rtearrow{ background-image:url();}

div.RTE.Word10	.rteRibbons span.arrow2 > input,
div.RTE.Word10	.rteRibbons span.arrowCase > a{ border:0; margin:0; padding:0; min-width:0; }

div.RTE.Word10	.arrow2,
div.RTE.Word10	.arrow0 { margin:3px 0; }
div.RTE.Word10	.arrow0 > a:first-child { border-radius:3px 0 0 3px }
div.RTE.Word10	.arrow0 a.rtearrow{ width:9px; border-radius:0 3px 3px 0}

div.RTE.Word10	.arrow1 { padding:1px; }
div.RTE.Word10	.rteRibbons span.arrow1 a{ width:100%; -moz-box-sizing:border-box; }
div.RTE.Word10	.rteRibbons span.arrow1 > a:first-child{height:35px; margin-bottom:3px; border-radius:3px 3px 0 0; }
div.RTE.Word10	span.arrow1 a.rtearrow{min-width:40px; height:26px; border-radius:0 0 3px 3px; line-height:14px;}
div.RTE.Word10	.arrow1:hover a.rtearrow{ outline:solid #F5D368 1px; outline-offset:1px; }

div.RTE.Word10	.arrow2 {border-color:grey; border-radius:0;}
div.RTE.Word10	.arrow2 a.rtearrow{ width:9px;  border-radius:0;}

div.RTE.Word10	.arrowCase .rtearrow:after,
div.RTE.Word10	div.bigIcons > div > div > a:after{ width:0; height:0; line-height:0; content:'';
		border:solid transparent 3px; border-top-color:#000; vertical-align:middle; display:inline-block;}


/* default button sizes */
div.RTE.Word10	.rteTopBar a,
div.RTE.Word10	.rteHomeRibbon a{ width:20px; height:19px; }

div.RTE.Word10	.rteRibbons a.bigIcon,
div.RTE.Word10	div.bigIcons a{ min-width:40px; padding-top:38px; height:28px; line-height:14px; margin:1px; }
div.RTE.Word10	.arrow1 .rtearrow:before,
div.RTE.Word10	div.bigIcons a:before,
div.RTE.Word10	div.bigIcons a:after{ white-space:pre;}
div.RTE.Word10	.rteRibbons a.wideIcon{width:27px;}

/* English Language */
div.RTE.Word10	.rteClipGroup:after  { content:'Clipboard' } 
div.RTE.Word10	.rtecut:before        { content:'Cut \25BE' } 
div.RTE.Word10	.rtecopy:before       { content:'Copy'}
div.RTE.Word10	.rteformatPainter:before{ content:'Format Painter'}
div.RTE.Word10	.rtepaste32+a:before { content:'Paste\a' }
div.RTE.Word10	.rtechangeStyles+a:before { content:'Change\a Styles' }

div.RTE.Word10	.rteFontGroup:after  { content:'Font' }
div.RTE.Word10	.rteParaGroup:after  { content:'Paragraph'}
div.RTE.Word10	.rteFileGroup:after  { content:'File'}
div.RTE.Word10	.rteStylGroup:after  { content:'Styles'}

div.RTE.Word10	.rteEditGroup:after  { content:'Editing'}
div.RTE.Word10	.rtefind:before       { content:'Find'; } 
div.RTE.Word10	.rtereplace:before    { content:'Replace'}
div.RTE.Word10	.rteselection:before  { content:'Select'}

div.RTE.Word10 .rtePageGroup:after  { content:'Pages';}
div.RTE.Word10 .rtecoverPage+a:before{ content:'Cover\a Page'}
div.RTE.Word10 .rteblankPage:before { content:'Blank\a Page'}
div.RTE.Word10 .rtepageBreak:before { content:'Page\a Break'}

div.RTE.Word10 .rteTablGroup:after  { content:'Tables';}
div.RTE.Word10 .rtetable:before     { content:'Table\a';}

div.RTE.Word10 .rteIlluGroup:after  { content:'Illustrations';}
div.RTE.Word10 .rtepicture:before   { content:'Picture\a';}
div.RTE.Word10 .rteclipArt:before   { content:'Clip\a Art';}
div.RTE.Word10 .rteshapes:before    { content:'Shapes\a';}
div.RTE.Word10 .rtesmartArt:before  { content:'SmartArt\a';}
div.RTE.Word10 .rtechart:before     { content:'Chart\a';}
div.RTE.Word10 .rtescreenshot:before{ content:'Screenshot\a';}

div.RTE.Word10 .rteLinkGroup:after  { content:'Links';}
div.RTE.Word10 .rtehyperlink:before { content:'Hyperlink\a';}
div.RTE.Word10  .rtebookmark:before { content:'Bookmark\a';}
div.RTE.Word10 .rtecross-reference:before{ content:'Cross-reference\a';}

div.RTE.Word10 .rteHeadGroup:after  { content:'Header & Footer';}
div.RTE.Word10 .rteheader:before    { content:'Header\a';}
div.RTE.Word10 .rtefooter:before    { content:'Footer\a';}
div.RTE.Word10 .rtepageNumber:before{ content:'Page\a Number';}

div.RTE.Word10 .rteTextGroup:after  { content:'Text';}
div.RTE.Word10 .rtetextBox:before   { content:'Text\a Box';}
div.RTE.Word10 .rtequickParts:before{ content:'Quick\a Parts';}
div.RTE.Word10 .rtewordArt:before   { content:'WordArt\a';}
div.RTE.Word10 .rtedropCap:before   { content:'Drop\a Cap';}

div.RTE.Word10 .rtesignatureLine:before   { content:'Signature Line';}
div.RTE.Word10 .rtedateTime:before   { content:'Date & Time';}
div.RTE.Word10 .rteobject:before   { content:'Object';}

div.RTE.Word10 .rteSymbGroup:after  { content:'Symbols';}
div.RTE.Word10 .rteequation+a:before{ content:'Equation\a';} 
div.RTE.Word10 .rtesymbol:before    { content:'Symbol\a';}

div.RTE.Word10 .rtesymbolFlyout p:after{content:'More Symbols';}

div.RTE.Word10 .coverPage:{}
div.RTE.Word10 .blankPage:{}
div.RTE.Word10 .pageBreak:{}
div.RTE.Word10 .table:{}
div.RTE.Word10 .picture:{}
div.RTE.Word10 .clipArt:{}
div.RTE.Word10 .shapes:{}
div.RTE.Word10 .smartArt:{}
div.RTE.Word10 .chart:{}
div.RTE.Word10 .screenshot:{}
div.RTE.Word10 .hyperlink:{}
div.RTE.Word10 .bookmark:{}
div.RTE.Word10 .cross-reference:{}
div.RTE.Word10 .header:{}
div.RTE.Word10 .footer:{}
div.RTE.Word10 .pageNumber:{}
div.RTE.Word10 .textBox:{}
div.RTE.Word10 .quickParts:{}
div.RTE.Word10 .wordArt:{}
div.RTE.Word10 .dropCap:{}
div.RTE.Word10 .signatureLine:{}
div.RTE.Word10 .dateTime:{}
div.RTE.Word10 .object:{}
div.RTE.Word10 .equation:{}
div.RTE.Word10 .symbol:{}

div.RTE.Word10	.f_h1				>div:after{ content: 'Heading 1' }
div.RTE.Word10	.f_h2				>div:after{ content: 'Heading 2' } 
div.RTE.Word10	.f_h3				>div:after{ content: 'Heading 3' }
div.RTE.Word10	.f_h4				>div:after{ content: 'Heading 4' }
div.RTE.Word10	.f_h5				>div:after{ content: 'Heading 5' }
div.RTE.Word10	.f_h6				>div:after{ content: 'Heading 6' }
div.RTE.Word10	.f_h7				>div:after{ content: 'Heading 7' }
div.RTE.Word10	.f_h8				>div:after{ content: 'Heading 8' }
div.RTE.Word10	.f_h9				>div:after{ content: 'Heading 9' }
div.RTE.Word10	.f_normal		>div:after{ content: "Normal" }
div.RTE.Word10	.f_noSpacing	>div:after{ content: 'No Spacing'}		
div.RTE.Word10	.f_refSubtle	>div:after{ content: ''}
div.RTE.Word10	.f_refIntense	>div:after{ content: }
div.RTE.Word10	.f_subtitle		>div:after{ content: }
div.RTE.Word10	.f_emphasis		>div:after{ content: }
div.RTE.Word10	.f_emphasisSubtle	>div:after{ content: }
div.RTE.Word10	.f_emphasisIntense>div:after{ content: }
div.RTE.Word10	.f_strong		>div:after{ content: }
div.RTE.Word10	.f_quote			>div:after{ content: }
div.RTE.Word10	.f_quoteIntense>div:after{ content: } 	
div.RTE.Word10	.f_bookTitle 	>div:after{ content: }
div.RTE.Word10	.f_listParagraph>div:after{ content: }
div.RTE.Word10	.f_indent		>div:after{ content: }	
div.RTE.Word10	.f_title 		>div:after{ content: }	

/* popup - experimental*/
.popup{
    background-color:#f7f7f7; padding:0 6px 6px; border-radius:7px; border:#666 solid 1px;
    position:absolute; top:50px; left:50px;
    -moz-box-shadow: 0 0 5px 5px #888; -webkit-box-shadow: 0 0 5px 5px; box-shadow: 0 0 5px 5px #888;}
.title{ float:left; padding:8px 0; width:200px;}
.closeandhelp{ float:right; border:solid 1px #a9a9a9; border-radius:0 0 5px 5px; width:75px}
.closeandhelp>a{ display:inline-block; text-align:center}
.help{width:27px; border-right:1px solid #c6c6c6}
.content{ clear:both; width:410px; min-height:100px; background-color:#f0f0f0; border:solid 1px #7b7b7b; padding:6px; }
textarea{height:150px; width:100%}
.submit{text-align:right}
.submit > input{ width:75px; height:20px; margin-left:10px;  }

.title:after{ content:'Cross-reference'}
.fields{display:inline-block; width:49%; vertical-align:top }
.fields select{width:98%; height:20px; }
.opt input[type='text']{width:20px}
.opt {opacity:.7}
.content{font:11px/24px Tahoma}

.mouseover{}
.selected{}
.selectedMouseover{}
.pasteMsg:after{content:"For security reasons (to keep rogue sites from passwords in the computer's memory), this browser does not support a 'Paste' button. \a You may use Ctrl + P (or Cmd + P on a Mac) to paste content.' "}

div.RTE.Word10	.rtesymbolFlyout div{ width:130px;}
div.RTE.Word10	.rtesymbolFlyout a{ display:inline-block; height:25px; width:25px; text-align:center; }
div.RTE.Word10	.rtesymbolChart{height:400px; overflow:scroll;}
div.RTE.Word10	.rtesymbolChart span{width:25px; height:25px; border:1px solid; text-align:center; font-family:Arial Unicode MS; vertical-align:top }
div.RTE.Word10	.rtesymbolChart a{background-color:#ddd; display:block; font:8px tahoma;}

/* border-image-source: linear-gradient(to top, #c38942, #c2a35c)

div.RTE.Word10	span.rtestart{background-image:url(images/start.gif); height:21px; width:7px; margin:0}
div.RTE.Word10	.displayHtml{position:absolute; border:1px solid grey; left:0; top:0 }
div.RTE.Word10	.rteStylGroup>div>div>div{ margin:3px; height:42px; width:58px; }
*/